/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #ECE4D6;
    color: #000000;
    min-height: 160vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow-y: auto;
    padding-top: 40px;
    transition: background-color 0.5s ease;
  }
  
  /* Logo Styling */
  .logo-container {
    margin-bottom: -60px;
    margin-top: -200px;
  }
  
  .logo {
    width: 300px; /* Adjust logo size */
  }
  
  /* Location Image Styling */
  .location-image-container {
    margin-bottom: 20px;
  }
  
  .location-image {
    width: 80%; /* Adjust the size of the location image */
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }
  
  /* Enable Location Text */
  .enable-location-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #000000;
    margin-top: 20px;
  }
  
  .enable-location-text p {
    font-size: 1rem;
    color: #000000;
    margin-top: 10px;
  }
  
  /* Button Styling */
  .allow-btn {
    font-family: 'Oswald', sans-serif;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #fdbd5e;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
   border: 2px solid black;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .allow-btn:hover {
    background-color: rgba(249, 160, 27, 0.85);
  }
  
  /* Maybe Later Text Styling */
  .maybe-later {
    font-size: 0.9rem;
    color: #000000;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .maybe-later:hover {
    color: #333;
  }
  